<section name="register" ng-controller="register">
    <link href="js/authorization/css/athorization.css" rel="stylesheet" />
    <form ng-submit="authoriaztion.register()">
        <fieldset>
            <input type="text" placeholder="Name" required />
            <input type="email" placeholder="Email" required/>
            <input type="password" placeholder="Password"  required/>
            <input type="password" placeholder="Confirm Password" required/>
            <button class="btn btn-success" type="submit">Submit</button>
        </fieldset>
    </form>
</section>