<form role="form">
    <h2>Текущая тренировка <b>{{vm.currentTraining.startTime | date : 'M/d/yy hh:mm a' }}</b></h2>
    <div ng-if="vm.currentTraining == null && vm.message == ''">
        Подождите...
    </div>
    <!--<div ng-if="currentTraining != null && vm.message == ''">
        <p>
            <button class="btn btn-info" type="submit" ng-click="vm.addSettings()">Сохранить</button>
        </p>
    </div>-->
    <section name="execices" ng-show="vm.currentTraining != null && vm.message == ''">
        <h3>Упражнения</h3>
        <ul>
            <li ng-repeat="exe in model.execices">{{$index}}</li>
        </ul>
        <p>
            <button class="btn btn-info" ng-click="vm.addExe()">Новое упражнение</button>
        </p>
        <div>
            <select ng-model="model.extype" ng-options="option.name for option in vm.excerciseTypesList track by option.id"></select>
        </div>
    </section>
    <div ng-hide="vm.message == ''" class="alert alert-danger">
        {{vm.message}}
    </div>
</form>