<link href="/js/training/css/style.css" rel="stylesheet" />

<form role="form">
    <h2>Текущая тренировка <b>{{vm.currentTraining.startTime | date : 'M/d/yy hh:mm a' }}</b></h2>
    <div ng-if="vm.currentTraining == null && vm.message == ''">
        Подождите...
    </div>
    <!--<div ng-if="currentTraining != null && vm.message == ''">
        <p>
            <button class="btn btn-info" type="submit" ng-click="vm.addSettings()">Сохранить</button>
        </p>
    </div>-->
    <section name="execices" ng-show="vm.currentTraining != null && vm.message == ''">
        <div class="row">
            <!--<div class="col-md-9 panel">
            <h3 class="panel-heading">Упражнения</h3>
            <div class="panel-body">
                <div class="row" ng-repeat="exe in model.execices">
                    <div class="col-sm-9 exercise">
                        <h4>{{exe.exerciseType.name}}</h4>
                        <div class="row">
                            <div class="col-xs-8 col-sm-6">
                                {{exe.exerciseType.descriprtion}}
                            </div>
                            <div class="col-xs-4 col-sm-6">
                                Level 2: .col-xs-4 .col-sm-6
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <uib-accordion close-others="oneAtATime" class="col-md-9">
                <div uib-accordion-group class="panel-default" heading="{{exe.exerciseType.name}}" ng-repeat="exe in model.execices"
                     ng-click="vm.openExe(exe.id)">
                    {{exe.exerciseType.descriprtion}}
                    <!--<div ng-repeat="app in exe.approaches">
                        <span>Подход {{$index + 1}}</span>
                    </div>-->
                    <table class="table table-striped">
                        <tr>
                            <th>
                                Номер
                            </th>
                            <th>
                                Масса
                            </th>
                            <th>
                                Повторов
                            </th>
                            <th>
                                Время начала
                            </th>
                            <th>
                                Продолжительность
                            </th>
                            <th>
                                Интенсивность
                            </th>
                        </tr>
                        <tr ng-repeat="app in exe.approaches">
                            <td>{{$index + 1}}</td>
                            <td>{{app.weight}}</td>
                            <td>{{app.times}}</td>
                            <td>{{app.startTime | date : 'hh:mm:ss a'}}</td>
                            <td>{{app.period}}</td>
                            <td>{{app.weight * app.times}}</td>
                        </tr>

                    </table>
                    <button class="btn btn-success">Сделать подход</button>
                </div>
            </uib-accordion>
            <div class="col-md-3 panel">
                <h3 class="panel-heading">Новое упражнение</h3>
                <div class="panel-body">
                    <p>
                        <select class="form-control" ng-model="model.extype" ng-options="option.name for option in vm.excerciseTypesList track by option.id"></select>
                    </p>
                    <p>
                        <button class="btn btn-primary btn-lg btn-block" ng-click="vm.addExe()">Добавить</button>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div ng-hide="vm.message == ''" class="alert alert-danger">
        {{vm.message}}
    </div>
</form>