<form role="form">
    <h2>Login</h2>
    <div class="form-group">
        <label for>Вес</label>
        <input type="number" step="0.1" class="form-control" ng-model="space.weight" required autofocus>
    </div>
    <div class="form-group">
        <label for>Рост</label>
        <input type="number" step="0.01" class="form-control" ng-model="space.height" required>
    </div>
    <div class="form-group">
        <label for>Активность</label>
        <select ng-model="space.activity" class="form-control" ng-options="option.value for option in vm.activityList track by option.id">
        </select>
    </div>
    <p><button class="btn btn-info" type="submit" ng-click="vm.addSettings()">Добавить</button>
    </p>
    <div ng-hide="vm.message == ''" class="alert alert-danger">
        {{vm.message}}
    </div>
</form>